<h2>Om oss</h2>

<p>
    Denna sidan skapades med ramverket Angular som en uppgift i kursen DT208G Programmering i TypeScript. Komponenter skapades för varje undersida, header, footer, och de två konverteringsfunktionerna. 
    Navigationen sköts med Angulars router-modul. 
    Loggan använder Angular Property binding och konverteringsmodulerna använder Two-way data binding för att fungera. 
</p>
<p>
    Detta är första gången jag använder Angular specifikt och ramverk allmänt i webbutveckling och det har både underlättat mycket och skapat ett par nya utmaningar. Speciellt med styling med CSS. Om en komponent läggs in i en annan, till exempel en header på en undersida, för att justera positionen på headern är det i headerns css-fil eller undersidans som ska uppdateras.
    Att kunna dela upp allt i komponenter och kunna "pussla" ihop dem har dock underlättat väldigt.
</p>
<p>Överlag är jag väldigt förtjust i Angular och ser fram emot att jobba mer med det. Det känns som att jag närmar mig hur man jobbar med webbutveckling "på riktigt" nu när jag börjat använda ramverk.</p>