/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    padding-top: 75px;
    background:linear-gradient(rgb(255, 255, 255), rgb(169, 243, 151));
    background-attachment: fixed; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

