<h2>Startsidan</h2>
<p>
    Denna webbsida kan konvertera måttenheterna meter och fot (eng: feet) eller temperaturenheter Celsius och Fahrenheit mellan varandra.
</p>
<p>
    För att konvertera mellan meter och fot används formulan <strong>m = ft / 3.2808</strong> och <strong>ft = m * 3.2808</strong></p>
<p>
    För att konvertera mellan Celsius och Fahrenheit  används formulan <strong>F&#176; = C&#176; * (9/5) + 32</strong> och <strong>C&#176; = (F&#176; - 32) * (5/9)</strong>
</p>
<p>Webbsidan är skapad för en labbrapport i kursen DT208G Datateknik, Programmering i TypeScript.</p>